


#nav{
color: white;
.nav-comp{
    background-color: rgb(64, 64, 64);
    margin: 40px 100px 10px 100px;
    border-radius: 50px;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
}

.but-nav{
    background-color: transparent;
    color: white;
    border: transparent;
    
}



}